.sensor-card-wrapper {

    display: flex;
    flex-flow: column;

    width: 150px;
    /* height: 150px; */

    /* padding: 10px; */

    /* background-color: dodgerblue; */
    border: solid 1px black;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;

}

.sensor-card-wrapper:not(:last-child) {
    margin-right: 20px;
}

.card-selected {

    /* box-shadow: 0px 0px 10px 5px rgb(0, 247, 255); */
    background-color: rgb(116, 155, 214);
}

.sensor-card-wrapper .image-wrapper {

    /* background-color: darkgreen; */
    padding: 10px;

    flex: 1 1 auto;

    display: flex;
    flex-flow: column;

    align-items: center;

}

.sensor-card-wrapper .image-wrapper .card-image {

    width: 100px;
    height: 100px;

    border-radius: 50px;

    background-color: lawngreen;

}

.sensor-card-wrapper .name-wrapper {

    flex: 1 1 auto;

    padding: 10px;

    font-size: 15px;

    color: var(--main-highlight-color);
    font-weight: bold;

    /* background-color: rgb(183, 0, 255); */
}