.sensors-list-wrapper {

    background-color: blueviolet;

}


.sensors-list-wrapper .sensors-wrapper {

    flex: 1 1  auto;
    /* background-color: lightseagreen; */

    display: flex;
    flex-flow: row;

    justify-content: center;

}